@model IEnumerable<RPG_Guia.Models.Ficha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Classe.Descriçao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raça.Descriçao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Territorio.Descriçao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Antepassado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tendencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ideal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vinculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fraqueza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caracteristica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClasseArmadura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Força)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inteligencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sabedoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destreza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constituição)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carisma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Classe.Descriçao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raça.Descriçao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Territorio.Descriçao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Antepassado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tendencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ideal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vinculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fraqueza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caracteristica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClasseArmadura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Força)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inteligencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sabedoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destreza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constituição)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carisma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FichaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FichaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FichaId })
        </td>
    </tr>
}

</table>
