@model RPG_Guia.Models.Armadura

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Armadura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClasseArmadura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClasseArmadura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Força)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Força)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Furtividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Furtividade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preço)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts{
    <!--SCRIPTS DE CONFIRMAÇÃO-->
    <script>
        //Confirmar Alterações
        $(document).ready(function () {
            $('#btn_Deletar').click(function (e) {
                var aux = confirm('Deseja confirmar as alterações?');
                if (!aux) {
                    e.preventDefault();
                }
            })
        })
    </script>
}