@model IEnumerable<RPG_Guia.Models.Armadura>

@{
    ViewBag.Title = "Index";
}


<div style="float:right; margin-right:25px;">
    <i class="far fa-plus-square"></i>
    @Html.ActionLink("Criar Novo", "Create")
</div>

<div class="container-fluid">
    
    <div style="display:block">
        <!-- Page Heading -->
        <h1 style="display:inline-block" class="h3 mb-2 text-gray-800">Armaduras</h1>

        <!-- Topbar Search -->
        <form style="display:inline-block" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar por nome..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- DataTales Example -->
    <div style="margin-top:20px" class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Inventário D&D</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Categoria)
                            </th>
                            <th>
                                @Html.DisplayName("Classe de Armadura")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Força)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Furtividade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Peso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Preço)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClasseArmadura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Força)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Furtividade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Peso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preço)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Armaduras", new { id = item.ArmaduraId })" class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a onclick="return confirmar(@item.Nome)" href="@Url.Action("Delete", "Armaduras", new { id = item.ArmaduraId })" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    <!--SCRIPTS DE CONFIRMAÇÃO-->
        <script>
            function confirmar (item){
                    var aux = confirm('Deseja realmente excluir este item?' + item);
                    if (aux) {
                        e.preventDefault();
                    }
                    return false
                }
        </script>
}
